@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.removeHover{
  font-family: "Source Pro";
}
.removeHover:hover{
  background-color: inherit !important;
  color: inherit !important;
  cursor: inherit !important;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disable-hover-effect:hover {
  background-color: inherit !important;
  color: inherit !important;
  cursor: inherit !important;
  /* Add any other styles you want to disable on hover */
}